:root {
	font-family: sans-serif;
}

body {
	max-width: 40rem;
	padding-inline: 1rem;
	margin-inline: auto;
}

output {
	font-weight: 700;
	font-size: 1.5em;
}

textarea {
	width: 100%;
	min-height: 10em;
	resize: vertical;
}
